{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signin-signup-style.css' %}">
</head>
<body>
<header class="header"><h1>Smart Vision</h1></header>
   <div class="signup-container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
       <div align="center">
             <p>Do you have an account?<a href="/user/signin"> Signin </a></p>
       </div>
    </div>
</body>
</html>