body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('../images/robot.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.header {
    background-color: red;
    backdrop-filter: blur(10px);
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 10px;
    font-size: 14px;
}
.footer{
margin-top:40px;
background-color: red;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    bottom: 10px;
    font-size: 14px;
}
.header h1 {
    margin: 0;
    font-size: 1rem;
}

.header a.logout-button {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 5px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-boxes {
    width: 80%;
}
.link-box {
    position: relative;
    width: 80%;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    font-size: 15px;
    background: #444444;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}
.link-box:hover {
background-color: red;
}
.small{
    width: 50%;
    }
.link-box span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8rem;
    text-align: right;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 40px 10px;
}
.link-box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.link-box:hover img {
    transform: scale(1.1);
}
.row-text{
width:40%;
}
.small-text {
font-size:10px;
}
.medium-text {
font-size:12px;
}
a {
    color: white;
    text-decoration: none;
}

.blank-box {
    background: transparent;
}

.blank-box img {
    display: none;
}