{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <h1>Sentiment Analysis</h1>
        </div>

    </header>
    <div class="container">
        <div align="center"><h3>Sentiment Analysis</h3></div>
        <div class="link-boxes">
            <div>
                <div>
                 <a href="/analysis" class="link-box">Sentiment Analysis.
                    <span>Analysis<span class="arrow">&rarr;</span></span>
                </a>
            </div>
            </div>
        </div>
                <br><br><br>
        <div align="center">
    <h3>Enhance Your Insights with Advanced Sentiment Analysis</h3>
</div><br>
<div class="row">
    <span class="link-box small">
        <img src="{% static 'images/robot-to-laptop.jpg' %}" alt="Sentiment Analysis">
    </span>
    <span class="row-text"><br>
        <span><b>Why Choose Our Sentiment Analysis Tool?</b><br>
            <p class="medium-text">Leverage state-of-the-art AI technologies to understand and interpret the sentiments behind your data. From customer reviews to social media posts, gain valuable insights and make informed decisions.</p>
            <b class="small-text"> > Analyze Customer Feedback</b><br>
            <b class="small-text"> > Monitor Social Media Sentiment</b><br>
            <b class="small-text"> > Enhance Customer Experience</b><br>
        </span>
    </span>
</div>


    </div>
<footer class="footer">
    <div align="center">
        <a href="https://github.com/williyam-m/sentiment_analysis" target="_blank">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" style="width: 25px; height: 25px; vertical-align: middle; margin-right: 5px; border-radius:50%;">
            View Codebase on GitHub
        </a><br><br>
        Sentiment Analysis<br>
        © 2025 Sentiment Analysis. All rights reserved.
    </div>
</footer>
</body>
</html>